<html>
<head>
</head>
<body>
  <form method="post" action="/lock">
    <label>How long do you want to be off facebook?</label> <input type='number' name='duration'></input> <label>milliseconds.</label>
    <input type='submit' value='Get me off Facebook!'></input>
  </form>
  <form method="post" action="/unlock">
    <label>What is the key we gave you?</label> <input type='text' name='key'></input> 
    <label>What is the secret we gave you?</label> <input type='text' name='secret'></input> 
    <input type='submit' value='Give back my account!'></input>
  </form>

</body>
</html>
